body{
display: flex;
 align-items: center;
 justify-content: space-around;
}
#data{
   
  
    width: 200px;
   
}

#chart{
    
   
    

}
svg{
 
    background-color:rgba(83, 67, 136, 0.6);

}
#information{
    position: absolute;
    left:300px;
    width: 300px;
}
.label{
    
    font-size: 30px;
}
image{
    pointer-events: none;
}
#tooltip{
    fill: white;
   pointer-events : none;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   
/* in order to prevent mouseleave from bubbling neeed to prevent pointer events!!*/
}

.title{
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          
    font-size: 50px;
    text-shadow: 1px;
}
.subtitle{
    font-size: 24px;
}
.xaxis, .yaxis{
    font-size: 18px;
    stroke-width: 2px;
}
.meteors path:hover{
    stroke: white;
}
.map, .meteors{
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;         
}
.selected{
    stroke: white;
}

